/*
====================================== 
First-screen 
======================================
*/
.bg-image {
  background-size: cover;
  min-height: 85.25vh;
  position: relative;
  display: block;
  max-width: 100%;
  padding: 0;
}

/* 
---------------
Header
---------------
*/
#header {
  padding: 0.5em 0;
  border-bottom: 1px solid #fff;
  background: rgba(0, 0, 0, 0.658);
}

.navbar-toggler {
  background: rgb(206, 199, 199);
}

.nav-link {
  color: #fff;
  font-family: "Circe Light", sans-serif;
  text-align: center;
  font-weight: 400;
  line-height: 135%;
  font-size: 16px;
}
.buttons {
  float: right;
}
.navbar-brand {
  float: left;
  height: 3.125em;
}
.search-btn,
.globe-btn,
.nav-link.language {
  display: block;
  float: right;
}
.nav-link.language {
  margin-top: 1em;
}

/* 
-------------------
First Screen-Title
-------------------
*/
.blue-card {
  color: white;
  position: absolute;
  text-align: left;
  background: #2378fc;
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: -0.01em;
  max-width: 14rem;
  padding: 2rem;
  padding-top: 1.2rem;
  top: 40%;
  height: 13%;
  left: 55%;
}
.turquoise-card {
  color: white;
  position: absolute;
  text-align: left;
  background: #30bcc9;
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: -0.01em;
  max-width: 14rem;
  padding: 2rem;
  padding-top: 1rem;
  height: 13%;
  top: 40%;
  left: 70%;
}

.more {
  font-size: 14px;
  color: white;
  text-decoration: none;
  height: 30%;
}
.red-card {
  background: #f6404f;
  left: 70%;
}
.yellow-card,
.red-card {
  padding-top: 1rem;
  position: absolute;
  color: white;
  font-weight: 400;
  line-height: 130%;
  font-size: 21px;
  letter-spacing: -0.01em;
  text-align: start;
  padding: 2rem;
  max-width: 14rem;
  top: 55%;
  height: 17%;
}
.yellow-card {
  background: #ffc41e;
  left: 55%;
}
p.descriptionTitle {
  font-family: "Circe", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-size: 24px;
  color: white;
  top: 40%;
  left: 22%;
  position: absolute;
}
h1.titleExpoforum {
  color: #fff;
  text-transform: uppercase;
  font-weight: 650;
  font-size: 64px;
  font-style: normal;
  line-height: 160%;
  position: absolute;
  top: 28%;
  left: 22%;
}
p.aboutComplex {
  color: white;
  font-size: 16px;
  font-family: "Circe Light", sans-serif;
  font-style: normal;
  top: 49%;
  left: 22%;
  position: absolute;
}

/* 
=============================
Side Menu 
=============================
*/
.side-menu {
  background: #2378fc;
  max-width: 100%;
  height: 28em;
}
.link {
  text-decoration: none;
  color: white;
}

.menuTitle {
  font-family: "Circe", sans-serif;
  height: 1.688em;
  color: white;
  font-style: normal;
  font-size: 30px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.01em;
  padding-top: 2.3em;
  padding-left: 4em;
  margin-bottom: 2.125em;
}
.menuPoint {
  font-family: "Circe", sans-serif;
  margin-top: 1.25em;
  margin-left: 7.5em;
}

.menuPoint:hover, .link:hover{
  color: #ffc41e;
  text-decoration: underline;

}
.menuBlock {
  position: relative;
  font-weight: 400;
  line-height: 135%;
  font-size: 16px;
  color: white;
}

/* 
============================
Events
============================
*/
.events {
  background: #ffc41e;
  height: 61.5em;
  max-width: 100%;
  font-family: "Circe Bold", sans-serif;
  font-style: normal;
}
.eventsHeader {
  margin-left: 7em;
  margin-right: 7em;
  padding-top: 4.5em;
}

.eventTitle {
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  color: #f6404f;
  letter-spacing: -0.01em;
}
.eventRow1 {
  margin-left: 7em;
  margin-right: 7em;
  padding-top: 3.5em;
}

.eventRow2 {
  margin-left: 7em;
  margin-right: 7em;
}

.eventInfo {
  font-family: "Circe Light", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
}
.ongoingText {
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: -0.01em;
}

.allEvents {
  padding-top: 0.2em;
  text-decoration: underline;
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  text-align: right;
}

.eventDate {
  font-family: "Circe Light", sans-serif;
  padding-top: 1em;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
}

/* 
=============================
News
=============================
*/

.news {
  background: #faf3e3;
  height: 40.5em;
  max-width: 100%;
  padding-top: 4.5em;
}

.newsLeftCol {
  padding-bottom: 3.5em;
  margin-left: 8em;
  display: block;
}

.newsHeader {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: -0.01em;
}

.LeftColEvents {
  display: block;
}

.newsTextBlock {
  margin-top: 0.5em;
}

.newsBlock {
  padding-top: 1.8em;
}

.newsDate {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #f6404f;
  margin-bottom: 0.5rem;
}
.newsTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: -0.01em;
  padding-right: 6em;
}
.allNews {
  font-style: normal;
  font-weight: 500;
  color: black;
  font-size: 21px;
  line-height: 130%;
  text-align: right;
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  padding-right: 6em;
}

/* 
=============================
Footer
=============================
*/
.footer {
  background: #30bcc9;
  height: 34em;
  max-width: 100%;
  padding-top: 3.75em;
}

.footerTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  margin-bottom: 1.25em;
}
.footerPoint {
  font-size: 14px;
  font-family: "Circe", sans-serif;
  color: #e0e0e0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
}
.footerBlock {
  padding: 0;
  width: 20%;
  padding-top: 2em;
}
.footerBlock1 {
  margin-left: 8em;
  padding-top: 2em;
}
.fbIcon {
  padding-right: 0;
}

.instIcon {
  padding-left: 0;
}

.footerTitle,
.footerPoint {
  color: white;
}

/* 
=============================
Media Queries 
=============================
*/
@media (max-width: 415px) {
  .menuBlock {
    margin-left: 0;
  }
  .eventTitle {
    font-size: 14px !important;
  }
  .eventInfo {
    font-size: 11px !important;
  }
  .aboutComplex {
    display: none;
  }
  .menuBlock{
    padding-right: 12em!important;
  }
  .visitors{
    display: none;
  }
}
@media (max-width: 447px) {
  .turquoise-card,
  .red-card {
    display: none;
  }
}
@media (max-width: 480px) {
  .bg-image {
    padding: 0;
    width: 100%;
  }
  .navbar-toggler {
    margin-right: 7%;
  }
  h1.titleExpoforum {
    font-size: 35px;
  }
  p.descriptionTitle {
    font-size: 24px;
  }
}
@media (max-width: 533px) {
  h1.titleExpoforum {
    font-size: 2em;
  }
  .titleExpoforum {
    font-size: 40px !important;
  }
  .menuBlock {
    margin-left: 2em;
  }
  .subscribe {
    display: none !important;
  }
  .apps {
    margin-left: 10em;
  }
  .side-menu{
    height:60em!important;
  }
}
@media (max-width: 541px) {
  .footerTitle {
    font-size: 16px !important;
  }
  .footerPoint {
    font-size: 12px !important;
  }
  .footerBlock1 {
    margin-right: 2em !important;
  }
  .footerPress {
    display: none;
  }
  .subscribe {
    display: none;
  }
}
@media (max-width: 550px) {
  .allNews {
    display: none;
  }
}
@media (max-width: 590px) {
  .RightCol {
    padding-right: 3em;
  }
  .newsBlock,
  .newsHeader {
    margin-left: 0 !important;
  }
}
@media (max-width: 607px) {
  h1.titleExpoforum {
    font-size: 58px;
  }
}
@media (max-width: 767px) {
  .eventsHeader {
    width: 100%;
  }
  .allEvents {
    float: left !important;
  }
  .menuBlock {
    padding-left: 0em !important;
  }
  .eventsHeader {
    margin-left: 3em;
  }
  .footerTitle {
    font-size: 18px;
  }
  .footerPoint {
    font-size: 14px;
  }
  .footerBlock,
  .footerBlock1 {
    margin-right: 2em;
  }
  .footerBlock1 {
    margin-left: 5em;
  }
  .eventTitle {
    font-size: 18px;
  }
  .eventInfo {
    font-size: 13px;
  }
  .eventDate {
    font-size: 12px;
  }
  .eventRow1,
  .eventRow2 {
    margin-right: -1em;
    margin-left: 3em;
  }
  .RightCol {
    width: 100%;
  }
  .side-menu{
    height: 35em;
  }
}
@media (max-width: 770px) {
  h1.titleExpoforum {
    left: 20%;
  }
  p.descriptionTitle {
    left: 20%;
    top: 38%;
  }
  p.aboutComplex {
    top: 47%;
    left: 20%;
  }
  .menuBlock {
    padding-right: 10em;
  }
  .eventsHeader {
    width: 95%;
  }
  .allEvents {
    text-align: start;
  }
  .press{
    display: none;
  }
}
@media (max-width: 797px) {
  .menuBlock {
    padding-left: 4em;
  }
}
@media (max-width: 865px) {
  .newsLeftCol {
    display: none !important;
  }
  .RightCol {
    width: 90%;
  }
  .newsImg {
    width: 30% !important;
  }
  .newsTitle {
    padding-right: 0 !important;
  }
  .newsTextBlock {
    padding-right: 0 !important;
  }
  .allNews {
    padding-right: 0;
  }
}
@media (max-width: 860px) {
  .newsLeftCol {
    height: 40%;
    width: 100%;
  }
}
@media (max-width: 930px) {
  .allNews {
    padding-right: 4em;
  }
}
@media (max-width: 940px) {
  .blue-card,
  .turquoise-card {
    font-size: 18px;
    height: 12%;
  }
  .yellow-card,
  .red-card {
    font-size: 18px;
    height: 15%;
  }
  .yellow-card,
  .blue-card {
    left: 23% !important;
  }
  .blue-card,
  .turquoise-card {
    top: 52% !important;
  }
  .red-card,
  .turquoise-card {
    left: 49% !important;
  }
  a.more {
    font-size: 11px;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    float: none;
    text-align: center;
  }
  .navbar {
    padding-bottom: 0;
  }
  .navbar-nav li {
    display: inline-block;
    float: none;
  }
  a.btn.search-btn {
    display: none;
  }
  .nav-link.language {
    display: none;
  }

  .color-cards {
    display: none;
  }
  .side-menu {
    height: 53.2em;
  }
  .menuTitle {
    font-size: 20px;
    padding-left: 5em;
    margin-bottom: 1.563em;
  }
  .menuBlock {
    font-size: 14px;
  }
  .footer {
    height: 50em;
  }
  .subscribe {
    justify-content: center !important;
    display: flex;
    padding-left: 3em;
    width: 100%;
  }
}
@media (max-width: 1010px) {
  .newsTitle {
    font-size: 16px;
  }
}

@media (max-width: 1090px) {
  .btn.globe-btn {
    display: none;
  }
  a.btn.search-btn {
    display: none;
  }
  .newsLeftCol {
    padding-bottom: 2em;
    height: 45% !important;
  }
  .LeftColEvents {
    padding-top: 2em;
  }
  .news {
    padding-left: 8em !important;
  }
}

@media (max-width: 1200px) {
  .nav-link.language {
    display: none;
  }
  .side-menu {
    height: 32em;
  }
  .yellow-card,
  .red-card {
    top: 65%;
  }
  .blue-card,
  .turquoise-card {
    top: 50%;
  }
  .blue-card,
  .yellow-card {
    left: 35%;
  }

  .turquoise-card,
  .red-card {
    left: 54%;
  }
  .newsImg {
    width: 50%;
  }
  .newsBlock {
    flex-wrap: nowrap;
  }
  .news {
    padding-left: 13em;
  }
  .newsLeftCol {
    height: 50%;
    margin-left: 3em;
  }
  .LeftColEvents {
    width: 40%;
    padding-right: 3em;
  }
}

@media (max-width: 1400px) {
  .newsBlock {
    margin-left: 2em;
    padding-top: 1em;
  }
  .newsTitle {
    padding-right: 4em;
  }
  .newsHeader {
    margin-left: 1em;
  }
}
/* Other */
body {
  min-width: 320px;
  margin: 0;
}
